@font-face {
    font-family: 'Nanami-Thin';
    src: local('Nanami-Thin'), url(../nanami/Nanami-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Nanami';
    src: local('Nanami'), url(../nanami/Nanami-Regular.otf) format('opentype');
}

ion-title {
    font-family: Nanami-Thin;
    color: white;
    font-size: 30px;
    text-align: center;
}

ion-toolbar {
    --background: #373c3f;
}

ion-button {
    width: 300px;
}

.button {
    text-align: center;
}